@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loading-container .spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.4em;
  color: #433D6A; 
}

.topic-list-page,
.topic-not-found-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topic-list-page .base-background {
  align-items: center;
  justify-content: center;
  background-color: #ebe9f8;
  height: auto;
  width: 100%;
  max-width: 1094px;
  border-radius: 10px;
  margin: 100px auto 100px;
  padding: 30px 52px;
}

.topic-list-page .results-text,
.topic-list-page .read-more {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.topic-list-page .card {
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1000px;
  transition: transform 0.2s ease-in-out;
}

.topic-list-page .card:hover {
  transform: translateY(-5px);
}

.topic-list-page .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.topic-list-page .tags-container {
  margin-bottom: 10px;
}

.topic-list-page .tag-badge {
  margin-right: 5px;
  background-color: #E4E0FF !important;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  cursor: default;
}

.topic-list-page .card-title {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #433D6A;
  font-size: 20px;
  cursor: pointer;
}

.topic-list-page .card-description {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
}

.topic-list-page .answer-button {
  align-self: flex-end;
  background-color: #C1BAEF;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-right: 15px;
}

.topic-list-page .answer-button:hover {
  background-color: #A89CDF;
}

.topic-list-page .read-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.topic-list-page .read-more-button {
  background-color: transparent;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
}

.topic-list-page .card-container {
  width: 100%;
}

.topic-list-page .single-result-card {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.topic-list-page .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.topic-list-page .spinner-container .spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.4em;
}

.topic-list-page .both-dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}


.topic-list-page .dropdown-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.topic-list-page .dropdown-container .dropdown-toggle {
  background-color: #C1BAEF;
  color: #433D6A;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.topic-list-page .dropdown-container .dropdown-toggle:hover {
  background-color: #A89CDF;
  transform: scale(1.05);
}

.topic-list-page .dropdown-container .dropdown-menu {
  background-color: #E4E0FF;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.topic-list-page .dropdown-container .dropdown-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #433D6A;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.topic-list-page .dropdown-container .dropdown-item:hover {
  background-color: #CBC5EE;
  color: #FFFFFF;
}

.topic-list-page .dropdown-container .dropdown-item:active {
  background-color: #A89CDF;
  color: #FFFFFF;
}

/* Not found section styles */
.topic-not-found-container .card {
  width: 1094px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebe9f8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 60px;
}

.topic-not-found-container .card-img-top {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 70px;
  margin-bottom: 20px;
}

.topic-not-found-container .card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ebe9f8;
}

.topic-not-found-container .card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 60px;
  cursor: default;
}

.topic-not-found-container .ask-button {
  background-color: #9387DC;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 45px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.topic-not-found-container .ask-button:hover {
  background-color: #7f66c1;
  transform: scale(1.05);
}