/* Background color for the entire page */
body {
    background-color: #D7D3F1 !important;
    display: flex;
    flex-direction: column;
}
/* Vertical and horizontal centering of the form */
.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}


/* Main container*/
.register-form {
    width: 550px;
    height: 450px;
    background: #FFFFFF80 !important;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 16px 32px -8px #0C0C0D66;
    padding: 32px;
    margin-bottom: 0;
    
}

/* Title */
.register-form h2 {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    transform: translateY(-50%);
}


.input-container {
    position: relative;
    margin-bottom: 15px; /* Space to prevent overlapping error messages */
}

/* Styling for all inputs and select */
.input-container input, .input-container select {
    height: 50px;
    outline: none;
    padding: 4.8px;
    width: 90%;
    border: none;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    background-color: white;
    padding-left: 50px;
    margin-left: 30px;
    
}
/* Icons for each input */
.input-container img {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
}
/* Button styling */
.register-button-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    outline: none;
}

.register-form button {
    font-weight: bold;
    cursor: pointer;
    padding: 15px 25px;
    margin: 0 auto; 
    background: #C1BAEF;
    box-shadow: -2px 3px 4px 2px #00000040;
    border-radius: 80px;
    transition: background-color 0s ease;
    color: black;
    width: 89%;
    border-radius: 0px;
    transform: translateY(18px) translateX(7px); 
    outline: none;
}

.register-form button:hover {
    transition: background-color 0s ease;
    background: white;
    outline: none;
}

/* Error messages */
.error {
    color: red;
    font-size: 14px;
    position: absolute; 
    bottom: -20spx; 
    width: 100%; 
    text-align: left;
    padding-left: 30px; 
  
}

.input-container select {
    appearance: none; /* Hide default arrow */
    background: url('./images/arrow.png') no-repeat right center; /* Add custom arrow */
    background-size: 13px 13px; 
    background-position: calc(100% - 35px) center; /* Move the arrow further to the left */
    padding-right: 30px; 
    border: 0.1px solid #ccc; 
    background-color: #ffffff; /* Box background color */
    color:#808080; /* Text color  */
}


.show-hide-password {
    position: absolute !important;
    top: 25% !important;
    cursor: pointer;
    height: 24px;
    transform: translateX(1469%) !important;
}


.input-container {
    position: relative; 
}



