/* Culoare de fundal pentru întreaga pagină */
body {
    background-color: #D7D3F1 !important;
    
}

/* Centrare verticală și orizontală a formularului */
.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Containerul principalgit a */
.register-form {
    width: 700px;
    height: 570px;
    background: #FFFFFF80 !important;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 16px 32px -8px #0C0C0D66;
    padding: 2em;
}

/* Titlul */
.register-form h2 {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    transform: translateY(-50%);
}


.input-container {
    position: relative;
    margin-bottom: 25px; /* Spațiu pentru a preveni suprapunerea mesajelor de eroare */
}

/* Stilizarea pentru toate inputurile și select */
.input-container input, .input-container select {
    height: 60px;
    outline: none;
    padding: 0.3em;
    width: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    background-color: white;
    padding-left: 50px;
    margin-left: 30px;
}

/* Iconițele pentru fiecare input */
.input-container img {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
}

/* Stilizarea butonului  */
.register-button-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.register-form button {
    font-weight: bold;
    cursor: pointer;
    padding: 15px 25px;
    margin: 0 auto;
    background: #C1BAEF;
    box-shadow: -2px 3px 4px 2px #00000040;
    border-radius: 5em;
    transition: 1s all ease;
    color: black;
    width: 90%; 
    border-radius: 10px; /* Colțuri rotunjite */
    transform: translateY(20%);
   
}

.register-form button:hover {
    transition: 1s all ease;
    background: white;
}

/* Mesajele de eroare */
.error {
    color: red;
    font-size: 16px;
    position: absolute; 
    bottom: -25spx; 
    left: 35px; /* Aliniem mesajul la stânga */
    width: 100%; 
    margin: 0; 
}

.input-container select {
    appearance: none; /* Ascunde săgeata implicită */
    background: url('./arrow.png') no-repeat right center; /* Adaugă săgeata personalizată */
    background-size: 13px 13px; 
    background-position: calc(100% - 35px) center; /* Mută săgeata mai spre stânga */
    padding-right: 30px; 
    border: 0.1px solid #ccc; 
    background-color: #ffffff; /* Culoarea de fundal a casetei */
    color:#808080; /* Culoarea textului  */
}


.input-container {
    position: relative; 
}


