/* Main container for questions */
.create-question-container {
    width: 1094px;
    height: 650px;
    background: #FFFFFF80 !important;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 16px 32px -8px #0C0C0D66;
    padding: 32px;
    margin: 0 auto; 
    position: relative;
    top: 130px; /* move the box up and down */
    margin-bottom: 200px;
}

/* Question box title */
.create-question-container h2 {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px; /* space between the line and text */
    transform: translateY(-50%) translateX(-25%);
}

/* The line under the title*/
.create-question-container h2::after {
    content: "";
    position: absolute;
    left: 25%; 
    bottom: 0; /* Position the line exactly below the text*/
    width: 90%; 
    border-bottom: 2px solid #000; 
}
/*Box titles*/
.create-question-container label {
    font-size: 23px;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

/* Styles for question box inputs, text and selects */
.create-question-container input[type="text"], 
.create-question-container textarea, 
.create-question-container select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Specific styles for texting */
.create-question-container textarea {
    resize: none;
    height: 200px;
    width: 100%;
}

/* Specific styles for the selection */
.create-question-container select {
    width: 34%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transform: translateY(-10px) translateX(-8px);   
}

/* Styles for question box buttons */
.create-question-container button {
    font-weight: bold;
    cursor: pointer;
    padding: 15px 25px;
    margin: 0 auto; 
    background: #C1BAEF;
    box-shadow: -2px 3px 4px 2px #00000040;
    border-radius: 0; 
    transition: background-color 0s ease;
    color: black;
    width: 34%;
    border: none;
    transform: translateY(58px) translateX(-356px); 
}

.create-question-container button:hover {
    background: white;
}

