@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.footer {
  margin-top: auto;
  background-image: linear-gradient(#9387DC 1%, #4F4876 82%);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 10px;
}

.sb_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  text-align: left;
  max-width: 1200px; 
}

.sb_footer-links_div {
  width: 150px; 
  margin: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
}

a {
  color: white;
  text-decoration: none !important; 
}

.socialmedia{
  margin-left: 10px;
}

.socialmedia i {
  margin-left: 5px;
  margin-top: 20px;
  font-size: 27px;
}

.socialmedia i:hover {
  color: black;
}

.sb_footer-links_div h4 {
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 0.9rem;
  color: black;
  font-weight: bold;
}

.sb_footer-links_div p {
  font-size: 13px;
  line-height: 10px;
  margin: 0.5rem 0;
  cursor: pointer;
  color: white;
}

.sb_footer-links_div p:hover {
  color: black;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.2rem;
}

hr {
  border-color: white !important;
  width: 100%;
}

.sb_footer-copyright p {
  font-size: 15px;
  line-height: 15px;
  color: white;
}
